.right-bar {
    position: fixed;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: #262835;
    color: #fff;
}

.right-bar-item {
    /* margin-bottom: 20px; */
    width: 100%;
    padding: 10px 0 1px;
}

.right-bar-item:hover {
    background-color: #36394bd8;
}

.right-bar-item:hover .right-bar-icon {
    color: #fff;
}
.right-bar-item:hover .right-bar-item-title {
    color: #fff;
}

.right-bar-icon {
    color: #7d7f8e;
}

.right-bar-item-title {
    color: #7d7f8e;
    font-size: 10px;
}
